* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}


header {
    width: 100%;
    min-height: 80vh;
    background-image:url(homeimage.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    animation: change 20s infinite;
}


@keyframes change{
    10%
    {
        background-image: url(homeimage1.jpg)
    }
    30%
    {
        background-image: url(homeimage2.jpg)
    }
   
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 140px;
}

.nav-links {
    flex: 1;
    text-align: right;
    
}

.nav-links ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: aquamarine;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box {
    top: 65%;
    left: 35%;
    width: 60%;
    color: white;
    position: absolute;
    transform:  translate(-50%,-50%);
    text-align: left;
    
}

.text-box h1{
    font-size: 40px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 16px;
    color: white;
}

nav .fa {
    display: none;
}

@media(max-width: 600px) {
    .text-box h1{
        width: 100%
    }
    .nav-links ul li {
        width: 100%;
    }
    .nav-links {
        width: 100%;
    }
    nav .fa {
        width: 100%;
    }
    .nav-links ul {
        width: 100%;
    }
}

.more {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.more h1 {
    font-size: 36px;
    font-weight: bold;
}

.more p {
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.locations-col {
    flex-basis: 30%;
    background-color: #b0e0e6;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.3s;
}

.locations-col h3 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    margin: 10px 0;
}


.locations-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
        width: 100%;
    }
}

.img1 {
    width: 40%
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    background: #b0e0e6;
    width: 500px;
    margin: 12px;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}

.card-image {
    background-color: aqua;
    height: 165px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px;
}

.img2 {
    background: url(wedding.png)
}

.img3 {
    background: url(celebrations.png)
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}

.card:hover {
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.ul1 {
    list-style-position: inside;
    padding: 10px;
}

.ol1 {
    list-style-position: inside;
    padding: 10px;
}

/* FOOTER SECTION OF HOME PAGE  */
footer{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(5,183,178,1) 0%, rgba(0,212,255,1) 100%);
    padding-top: 50px;
    width: 100%;
}
.container1{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
}
.footer-content h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: white;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #b0e0e6;
}
.social-icons i:hover{
    color: #b0e0e6;
}
.bottom-bar{
    background-color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.footer-content{
    width: 33.3%;
}
.footer-content h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: white;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #b0e0e6;
}
.social-icons i:hover{
    color: #b0e0e6;
}
.bottom-bar{
    background-color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

@media(max-width: 600px) {
    .container1 {
        width: 100%;
    }
}

@media(max-width: 600px) {
    .container1 {
        width: 100%
    }
}


@media(max-width: 600px) {
    .footer{
        width: 100%;
    }
    
}

.more1 {
    width: 80%;
    margin: 40px;
    text-align: left;
    padding-top: 20px;
}


.more1 h2 {
    font-size: 36px;
    font-weight: bold;
}

.more p {
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.locations-col1 {
    flex-basis: 50%;
    background-color: #b0e0e6;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.3s;
    height: 520px;
}

.locations-col1 h3 {
    text-align: left;
    font-weight: bold;
    margin: 10px 0;
}

.locations-col1 img {
    width: 500px;
    padding-top: 10px;
}

.iframe1 {
    width: 500px;
    height: 520px;
    position: relative;
}

.table1, th, td {
    border: 1px solid;
    margin: 0 auto;
  }

.bottom-section h2{
    text-align: center;
    padding-bottom: 10px;
}

.body-form {
    display: flex;
    height: 285vh;
    justify-content: center;
    align-items: center;
    padding: 60px;

}

.container3 {
    width: 85%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
}

.container3 .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}


.container3 form .user-details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    flex-wrap: wrap;
}

form .user-details .input-box {
    width: calc(100% / 2 - 20px); 
    margin-bottom: 15px;
}

.user-details .input-box .details {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.user-details .input-box input {
    height: 45px;
    
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;

}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(5,183,178,1) 0%, rgba(0,212,255,1) 100%);
}

form .button input:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(87, 150, 195) 0%, rgb(46, 103, 101) 0%, rgba(0,212,255,1) 100%);
}

.combobox {
    display: block;
    padding: 10px;
}

.left-container {
    flex: 1;
    width: 55%;
    float: left;
}

.right-container {
    flex: 1;
    width: 45%;
    float: right;
    
}


  @media (max-width: 600px) {
    .body-form{
        max-width: 100%;
    }
}
@media (max-width: 600px) {
    .container3 {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .more1 {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .locations-col1  {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .img-locations  {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .iframe1  {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .bottom-section .table1{
        max-width: 100%;
    }
}

/* RESTAURANT PAGE CSS */
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: aqua;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container4 {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: aqua;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover {
    background-color: rgb(49, 116, 116);

}

.center-links {
    text-align: center;
}

.button1 {
    border-radius: 10%;
    background-color: aqua;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.children1 {
    display: block;
    margin-bottom: 8px;
}

.adults1 {
    display: block;
    margin-bottom: 8px;
}


@media screen and (max-width: 500px) {
    .heading {
        padding: 0px 20px;
    }
    .heading h1 {
        font-size: 36px;
    }
    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container4 {
        padding: 0px;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .about-content p {
        padding: 0px;
        font-size: 16px;
    }

    .about-content .read-more {
        font-size: 16px;
    }

    .center-links {
        text-align: center;
        width: 100%
    }

    .button1 {
        padding: 15px 32px;
    }
}

#output1 {
    height: 6em;
    border: black solid 1px;
    width: 30.5em;
    height: 12em;
}

#output2 {
    height: 6em;
    border: #000000 solid 1px;
    width: 23.7em;
    height: 12em;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Styling for Add To Favourites Button and Check Loyalty BUtton */

.buttons-container button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container-buttons button {
    background-color:rgb(87, 150, 195);
    color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease;
    font-size: 14px;
}

.container-buttons button:hover{
    background-color:rgb(49, 116, 116);
}

/* Loyalty Points Box Styling */

.loyaltyPoints {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    margin-top: 20px;
    padding: 8px;
    justify-content: center;
    border: 1px solid #3498db;
}

.loyaltyPoints label {
    font-style: italic;
    margin-right: 10px;
}


.loyaltyPoints span {
    font-weight: bold;
    color:rgb(46, 101, 103)
}

/* Hotel Booking Syling Part */
.fieldset1 {
    width: 25em;
    
}

#currentCost {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
}

/* Adventure Booking Styling Part */
.fieldset1 {
    width: 20em;
    
}

#currentAdventureCost {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
}

/* Booking form @media classes

.left-container
.body-form
container3
.user-details
.input-box
details
.fieldset1
.container-buttons
button
.right-container
fieldset2 */


/* Media query for booking page section */

@media only screen and (max-width: 758px) {

    .left-container, .right-container {
        width: 100%;
    }
    .body-form {
        padding: 20px;
    }
    .container3 {
        margin: 0;
    }
    .input-box {
        margin-bottom: 12px;
        width: 100%;
    }
    .user-details {
        flex-direction: column;
    }

    .fieldset1, fieldset2 {
        margin-top: 18px;
    }
    .details {
        font-size: 16px;
    }
    .button {
        margin-top: 10px;
    }
    .container-buttons {
        flex-direction:  column;
    }
    .container-buttons button + button {
        margin-top: 14px;
    }
    #output1, #output2 {
        width: 100%;
        margin-top: 8px;
        font-size: 12px;
    }
}

























